---
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "My Astro learning blog";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <ul>
        {
          allPosts.map((post: any) => (
            <BlogPost url={post.url} title={post.frontmatter.title} />
          ))
        }
      </ul>
    </ul>
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
