---
import Social from "./Social.astro";

const platform = "github";
const username = "sujaiKrishnaK";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <Social platform="twitter" username="sujai_krishna" />
  <Social platform="github" username="SujaiKrishnaK" />
  <Social platform="youtube" username="@sujaikrishna2180" />
</footer>
